<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>index</title>
        <style>
            body {
                height: 100vh;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            h1{
                font-size: 5vw;
                cursor: pointer;
                text-decoration: underline;
            }
        </style>
    </head>
    <body>
        <h1> make a request</h1>
        <script>
            document.querySelector('h1').onclick = makeRequest;

            function makeRequest(){
                var xhr = new XMLHttpRequest();
                xhr.onreadystatechange = function(){
                    if(xhr.readyState === XMLHttpRequest.DONE && xhr.status === 200){
                        alert(xhr.responseText);
                    }
                };
                xhr.open('GET', '/foo', true);
                xhr.send();
            }
        </script>
    </body>
</html>