<!DOCTYPE html>
<html>
    <head>
        <meta chatset="UTF-8">
        <title>SignUp</title>
    </head>
    <body>
        <form method="POST" enctype="application/x-www-form-urlencoded"><br>
            <input type="text" placeholder="UserName" id="username" name= "username"><br>
            <input type="text" placeholder="Password" id="password" name= "password"><br>
            <input type="text" placeholder="First Name" id="first" name= "first"><br>
            <input type="text" placeholder="Last Name" id="last" name= "last"><br>
            <label for="slr">Role</label>
            <select name="role" id="slr" >
                <option value="user">user</option>
                <option value="007">007</option>
                <option value="admin">admin</option>
            </select><br>
            <input type="submit" value="SUBMIT !!!">
        </form>
    </body>
</html>